@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root {

    /* variável cor clara */

    --color-light-50: #ccc;
    --color-light-100: #f8fafc;

    /* variável cor escura */
    --color-dark-50: #797984;
    --color-dark-100: #312d37;
    --color-dark-900: #000;

    /* variaveis cor de link (tema claro) */

    --color-light-link-50: #0070cc;

    /* variaveis cor de link (tema escuro) */

    --color-dark-link-50: #ffd700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ('Poppins', sans-serif);
}

body {
    height: 100dvh;
    background-color: var(--color-light-50);
}

body.dark {
    background-color: var(--color-dark-50);
}

.header {
    width: 100%;
    height: 20px;
    background-color: var(--color-light-100);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header.dark {
    background-color: var(--color-dark-100)
}

.header a {
    height: 10px;
    color: var(--color-light-link-50);
    cursor: pointer;
}

.header a.dark {
    color: var(--color-dark-link-50);
}

.fa-moon {
    width: 18px;
    height: 16px;
}

.fa-sun {
    width: 18px;
    height: 16px;
}